.date__head {
    width: 100%;
    padding: 10px 0 10px 14px;
    cursor: pointer;
    background: rgba(128, 131, 164, 0.06);
    border: 2px solid rgba(128, 131, 164, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    text-align: left;
}

.date__head:active, .date__head:hover {
    border: 2px solid #373AF5;
}

.inputForm {
    position: relative;
    width: 252px;
    margin: 0 auto;
}

.date__head {
    width: 252px;
    padding: 10px 0 10px 13px;
    color: #2C2D76;
}

.date__head::placeholder, .date__head::-webkit-input-placeholder, .date__head::-moz-placeholder, .date__head:-ms-input-placeholder {
    color: #8083A4;
    background: rgba(128, 131, 164, 0.06);
}

.date__input {
    position: absolute;
    width: 16px;
    height: 15px;
    border: none;
    outline: none;
    padding: 0;
    right: 16px;
    top: 17px;
    background: none;
}

.date__input:focus-visible, .date__head:focus-visible {
    outline: none;
}

.date__input::-webkit-inner-spin-button, .date__input::-webkit-clear-button {
    display: none;
}

.date__input::-webkit-calendar-picker-indicator {
    width: 16px;
    height: 15px;
    background: #FFF url("../../assets/icons/16/calendar.svg") no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    display: block;
    padding: 0;
}
