.select__head, .select__list, .plugBlock__text, .date__head, .dayWeatherCard__date {
    font-size: 16px;
    line-height: 24px;
}

.header {
    min-width: 240px;
    width: 73vw;
    max-width: 755px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #FFFFFF;
    margin-bottom: 24px;
    padding-top: 32px;
}

.title > div {
    text-align: right;
    transform: translateY(-7px);
}

@media (min-width: 320px) and (max-width: 1026px) {
    .title {
        font-size: calc(32px + (102 - 32) * ((100vw - 320px) / (1026 - 320)));
        margin-bottom: calc(24px + (65 - 24) * ((100vw - 320px) / (1026 - 320)));
        padding-top: calc(32px + (102 - 32) * ((100vw - 320px) / (1026 - 320)));
    }

    .title > div {
        transform: translateY(calc(-7px - (-17 + 7) * ((100vw - 320px) / (1026 - 320))));
    }
}

@media (min-width: 1026px) {
    .title {
        font-size: 102px;
        margin-bottom: 65px;
        padding-top: 65px;
    }

    .title > div {
        transform: translateY(-17px);
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 300px;
}

@media (min-width: 1300px) {
    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.footer {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.6;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 16px;
}
